<div class="main_img">
  <%= image_tag 'images.png'%>
</div>
<div class="explain clearfix">
  <ul><h1>ABOUT MAKING BLOGS!</h1>
    <li class="panel"><p>ブログを書くサイトです。</p></li>
    <li class="panel"><p>まずはブログを描いてみよう！！</p></li>
  </ul>
</div>
